<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Page</title>
    <link rel='stylesheet' type="text/css" href='/css/style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background-color: #fafafa;">
    <div>
      <nav class="navbar center navbar-expand-lg navbar-default fixed-top">
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/ratherbeg0lfing17?tab=repositories">Github</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class='container-fluid text-center contact-page'>
        <div class='col'>
          <h1 class="lets-talk">LET'S TALK</h1>
          <p class="lets-talk-paragraph">Please input your contact information and I will reach out to you shortly!</p>
        <div class='row mt-5 justify-content-center'> 
          
          <form id='test-form' action="/thanks" method='POST'>
              <div class="form-group">
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="emailInput" placeholder="Email">
              </div>
              <button type="submit" id="submit-form" class="btn btn-block btn-dark contact-submit-btn">Submit</button>
          </form>
          </div>   
        </div>
      </div>
      <!-- <form id="test-form" action="/thanks" method="POST">
        <label for="firstName">First Name:</label>
        

        <label for="lastName">Last Name:</label>
        <input id="lastName" name="lastName" type="text">

        <label for="email">Email:</label>
        <input id="email" name="email" type="text">

        <button type="submit"id="submit-form">Submit</button>
      </form> -->
      <script>
          const scriptURL = 'https://script.google.com/macros/s/AKfycbwTY6qmvqgBW-S9E2ph74W0ruams0k49710bfBAsfHmktbA4GF9/exec'
          const form = document.forms['test-form']
        
          form.addEventListener('submit', e => {
            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
              .then(response => console.log('Success!', response))
              .catch(error => console.error('Error!', error.message))

          })
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </div>
  </body>
  
</html