<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garrett's Portfolio</title>
    <link rel='stylesheet' type="text/css" href='/css/style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Martel+Sans&display=swap" rel="stylesheet">
  </head>
  <body style="background-color: #fafafa;">
    <nav class="navbar center navbar-expand-lg navbar-default fixed-top">
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Github</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron pb-10 jumbotron-fluid" id="home-jumbo">
      <div class="container-fluid">
        <div class="col text-center">
          <h1 class="welcome-title">Garrett Cypher</h1>
          <p class="my-3 welcome-paragraph">Welcome to my portfolio and thank you for taking the time to view my latest projects. </br> If you have any questions or are interested in a conversation, please feel free to call, text, or email me at any time.</p>
          <p class="mb-0 welcome-paragraph">515 John Muir Dr, San Francisco CA, 94132</p>
          <p class="mb-0 welcome-paragraph">Phone: (760)-994-2278</p>
          <p class="mb-0 welcome-paragraph">Email: cyph17@gmail.com</p>
        </div>
      </div>
    </div>
  <div class='container'>
    <div class="row justify-content-center">
      <p class="text-center mb-4 ml-5 mr-5 mt-4 my-projects-paragraph">The projects you see below were created during an intensive 16-week full-stack web development bootcamp I attended in San Diego CA.  By failing fast and learning quickly, I am proud to present a few of the projects I completed over the past few months.  Thank you for your time!</p>
    </div>
    <!-- <div class="row justify-content-center">
      <div class="col-sm-6 pb-5 d-flex align-items-stretch">
        <div class="card text-center shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Cota Mobile Application - In Progress!</h5>
            <p class="card-text">I am privlieged to be working with COTA, a transportation management sytstem startup based in San Diego CA.  I am developing the entire front-end for their Android / iOS app utilizing PhoneGap technology. </p>
          </div>
        <div class="card-footer bg-transparent">
          <div>Private code at this time</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 pb-5 d-flex align-items-stretch">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Passion Project using Google AMP</h5>
          <p class="card-text">As a learning experience, I am developing a personal website for a friend utilizing Google's Amplified Mobile Pages technology.</p>
        </div>
        <div class="card-footer bg-transparent">
          <div>Private code at this time</div>
        </div>
      </div>
    </div>
    </div> -->
<div class="row justify-content-center">
  <div class="col-sm-6 pb-5 d-flex align-items-stretch">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <h5 class="card-title">To-Do App</h5>
        <p class="card-text">Using Reactjs, I created an app which allows a user to create, edit, and delete to-do items in a to-do list.</p>
      </div>
      <div class="card-footer bg-transparent">
          <a href="https://gc-vstda.herokuapp.com/" class="btn btn-primary">View App</a>
          <a href="https://github.com/ratherbeg0lfing17/React-100-VSTDA" class="btn btn-primary">View Code</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 pb-5 d-flex align-items-stretch">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Weather App</h5>
        <p class="card-text"> Using Reactjs and React-Redux, I created a weather app where a user can search by city name or select one of five pre-selected cities to return the current weather for that city.</p>
      </div>
      <div class="card-footer bg-transparent">
          <a href="https://gc-weather-app.herokuapp.com/" class="btn btn-primary">View App</a>
          <a href="https://github.com/ratherbeg0lfing17/React200-Weather-App" class="btn btn-primary">View Code</a>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-sm-6 pb-5 d-flex align-items-stretch">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Movie Finder</h5>
        <p class="card-text">Using Reactjs, React-Redux, & Redux-Promise-Middleware, I created an app allowing a user to search by keyword which will return organized movie data related to that keyword from OMDB's API.</p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="https://gc-movie-finder.herokuapp.com/#/" class="btn btn-primary">View App</a>
        <a href="https://github.com/ratherbeg0lfing17/React200-Movie-Finder" class="btn btn-primary">View Code</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 pb-5 d-flex align-items-stretch">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Mortgage Calculator</h5>
        <p class="card-text">Using Reactjs, I created a Mortgage Calculator that will calculate a mortgage payment for a 15 or 30 year term given user input of "Balance" and "APR."</p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="https://gc-mortgage-calculator.herokuapp.com/"class="btn btn-primary">View App</a>
        <a href="https://github.com/ratherbeg0lfing17/React-100-Mortgage-Calculator" class="btn btn-primary">View Code</a>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-6 pb-5 d-flex align-items-stretch">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <h5 class="card-title">San Diego Top Spots</h5>
          <p class="card-text">Using JQuery, HTML, and Twitter Bootstrap, I create a small informational website displaying a list of 30 top places to see in San Diego.</p>
        </div>
        <div class="card-footer bg-transparent">
          <a href="https://gc-sandiego-top-spots.herokuapp.com/" class="btn btn-primary">View App</a>
          <a href="https://github.com/ratherbeg0lfing17/React-100-San-Diego-Top-Spots" class="btn btn-primary">View Code</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 pb-5 d-flex align-items-stretch">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Change Calculator</h5>
          <p class="card-text">Using Reactjs, I created a Change Calculator which, given the amount due and amount received, will allow the user to calculate the exact change per given transaction in US currency down to the penny.</p>
        </div>
        <div class="card-footer bg-transparent">
          <a href="https://gc-react-change-calculator.herokuapp.com/"class="btn btn-primary">View App</a>
          <a href="https://github.com/ratherbeg0lfing17/React-100-Change-Calculator" class="btn btn-primary">View Code</a>
        </div>
      </div>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </div>

  </body>
</html>