#home-jumbo {
    background-color: white;
    border-bottom: #dddddd solid 1px;
}

.navbar-default {
    background-color: black;
    color: white;
}

.nav-link {
    color: white;
    font-size: 16px;
    font-family: 'Martel Sans', sans-serif;
}

.my-projects-text {
    border-bottom: 3px solid black;
}

.my-projects-paragraph {
    max-width: 700px;
}

.btn-footer {
    background-color: white;
}

#cover {
    background: slategray;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.contact-title {
    text-align: center;
    margin-bottom: 0;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cover-caption {
    width: 100%;
}

.contact-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 50px;
    padding: 80px;
}

.welcome-title {
    font-family: 'Martel Sans', sans-serif;
    font-size: 64px;
    font-weight: 500;
}

.lets-talk {
    font-family: 'Martel Sans', sans-serif;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 3px;
}

.lets-talk-paragraph {
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

.welcome-paragraph { 
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    padding-top: 50px;
}

.card-title {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 700;
}

.card-text {
    font-family: 'Martel Sans', sans-serif;
    font-size: 14px;
}

.contact-page {
    margin-top: 100px;
}

.contact-submit-btn {
    height: 40px;
}

@media screen and (max-width: 450px) {
    .lets-talk {
        font-size: 35px;
    }

    .lets-talk-paragraph {
        font-size: 14px;
    }

    /* #test-form {
        width: 70%;
    } */
}

@media screen and (min-width: 700px) {
    /* #test-form {
        width: 25%;
    } */

    .lets-talk {
        font-size: 64px;
    }

    .lets-talk-paragraph {
        font-size: 16px;
    }
}